{
    "openapi": "3.0.3",
    "info": {
        "title": "FoodHunter API",
        "description": "# FoodHunter API\n\nКомплексное REST API для платформы FoodHunter - сервиса поиска и заказа еды.\n\n## Основные возможности\n\n- **Управление ресторанами**: Полный CRUD для ресторанов, их типов и ценовых сегментов\n- **Управление меню**: Создание и редактирование блюд, категорий и цен\n- **Система пользователей**: Регистрация, авторизация и управление профилями\n- **Заказы**: Оформление заказов, отслеживание статусов\n- **Отзывы и рейтинги**: Система оценок ресторанов и блюд\n- **Административная панель**: Инструменты для администраторов\n\n## Аутентификация\n\nПользовательское API использует JWT токены для аутентификации. Включите токен в заголовок Authorization:\n```\nAuthorization: Bearer <your-jwt-token>\n```\n\nАдминское API использует админский токен для аутентификации:\n```\nAuthorization: Bearer <your-jwt-token>\n```\n\nТак же доступна авторизация телеграма:\n```\nAuthorization: tma user=...\n```\n\n## Пагинация\n\nВсе списочные эндпоинты поддерживают пагинацию:\n- `page` - номер страницы (начиная с 1)\n- `page_size` - количество элементов на странице (по умолчанию 10, максимум 100)\n\n## Фильтрация\n\nПоддерживается фильтрация через параметр `filters` в формате JSON:\n```json\n[{\"f\": \"field_name\", \"o\": \"operator\", \"v\": \"value\"}]\n```\n\nВнутри массива фильтров каждый фильтр может иметь один из следующих форматов:\n1. {\"f\":\"field\",\"o\":\"operator\",\"v\":\"value\"}\n2. {\"f\":\"field\",\"v\":\"value\"}\n3. [\"field\", \"operator\", \"value\"]\n4. [\"field\", \"value\"]\n5. {\"or\":[...]}\n6. {\"and\":[...]}\n\nЗначение (value) фильтра может быть строкой, числом, булевым значением, null или массивом.\n\nДоступные операторы: `=`, `!=`, `<>`, `>`, `<`, `>=`, `<=`, `!!=`, `~~`, `!~~`, `~~*`, `!~~*`, `~`, `~*`, `!~`, `!~*`, `LIKE`, `NOT LIKE`, `ILIKE`, `NOT ILIKE`, `IN`, `NOT IN`, `IS`, `IS NOT`, `IS NULL`, `IS NOT NULL`, `in`.\n\nПодробности об операторах:\n - [9.2. Comparison Operators](https://www.postgresql.org/docs/9.0/functions-comparison.html)\n - [Chapter 9. Operators](https://www.postgresql.org/docs/6.3/c09.htm)\n - [9.7. Pattern Matching](https://www.postgresql.org/docs/current/functions-matching.html)\n\n## Сортировка\n\nИспользуйте параметр `order` для сортировки:\n- `field_name ASC` - по возрастанию\n- `field_name DESC` - по убыванию\n\n## Обновление записей\n\nПри обновлении записей PUT запросом обновляются только те поля, которые были переданы в теле запроса. Те поля, которые не должны обновляться, писать в тело запроса не обязательно.\n\n## Коды ответов\n\n- `200` - Успешная операция\n- `400` - Некорректный запрос\n- `401` - Не авторизован\n- `403` - Доступ запрещен\n- `404` - Ресурс не найден\n\n- `500` - Внутренняя ошибка сервера",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://xromconsulting.com/foodhunter",
            "description": "Тестовый сервер"
        },
        {
            "url": "http://localhost:8080",
            "description": "Локальный сервер для разработки"
        }
    ],
    "paths": {
        "/api/v1/admin/restaurants/types": {
            "get": {
                "summary": "list",
                "description": "Получение списка записей с поддержкой пагинации, фильтрации и сортировки. Управление типами ресторанов (ресторан, кафе, бар и т.д.).\n\nФильтры: `id`, `created_at`, `updated_at`, `name`.",
                "tags": [
                    "Restaurant Types"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create",
                "description": "Создание новой записи в системе. Управление типами ресторанов (ресторан, кафе, бар и т.д.)",
                "tags": [
                    "Restaurant Types"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/types/{id}": {
            "get": {
                "summary": "get",
                "description": "Получение детальной информации о конкретной записи по её идентификатору. Управление типами ресторанов (ресторан, кафе, бар и т.д.)",
                "tags": [
                    "Restaurant Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "update",
                "description": "Обновление существующей записи. Управление типами ресторанов (ресторан, кафе, бар и т.д.)",
                "tags": [
                    "Restaurant Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "Удаление записи из системы. Управление типами ресторанов (ресторан, кафе, бар и т.д.)",
                "tags": [
                    "Restaurant Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/price-segments": {
            "get": {
                "summary": "list",
                "description": "Получение списка записей с поддержкой пагинации, фильтрации и сортировки",
                "tags": [
                    "Price Segments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create",
                "description": "Создание новой записи в системе",
                "tags": [
                    "Price Segments"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/price-segments/{id}": {
            "get": {
                "summary": "get",
                "description": "Получение детальной информации о конкретной записи по её идентификатору",
                "tags": [
                    "Price Segments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "update",
                "description": "Обновление существующей записи",
                "tags": [
                    "Price Segments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "Удаление записи из системы",
                "tags": [
                    "Price Segments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/cooking-tags": {
            "get": {
                "summary": "list",
                "description": "Получение списка записей с поддержкой пагинации, фильтрации и сортировки",
                "tags": [
                    "Cooking Tags"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CookingTagListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create",
                "description": "Создание новой записи в системе",
                "tags": [
                    "Cooking Tags"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CookingTagResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/cooking-tags/{id}": {
            "get": {
                "summary": "get",
                "description": "Получение детальной информации о конкретной записи по её идентификатору",
                "tags": [
                    "Cooking Tags"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CookingTagResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "update",
                "description": "Обновление существующей записи",
                "tags": [
                    "Cooking Tags"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CookingTagResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "Удаление записи из системы",
                "tags": [
                    "Cooking Tags"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CookingTagResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/cooking-tags/{id}/image": {
            "put": {
                "summary": "upload cooking tag image",
                "tags": [
                    "Cooking Tags"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CookingTagResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/octet-stream": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Base64ImageRequest"
                            },
                            "example": {
                                "base64_encoded_data": "iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAIAAAAP3aGb...",
                                "type": "image/png"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "required": [
                                    "image"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/cities": {
            "get": {
                "summary": "list",
                "description": "Получение списка записей с поддержкой пагинации, фильтрации и сортировки",
                "tags": [
                    "Cities"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create",
                "description": "Создание новой записи в системе",
                "tags": [
                    "Cities"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/cities/{id}": {
            "get": {
                "summary": "get",
                "description": "Получение детальной информации о конкретной записи по её идентификатору",
                "tags": [
                    "Cities"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "update",
                "description": "Обновление существующей записи",
                "tags": [
                    "Cities"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "Удаление записи из системы",
                "tags": [
                    "Cities"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants": {
            "get": {
                "summary": "list",
                "description": "Получение списка ресторанов.\n\nФильтры: `id`, `created_at`, `updated_at`, `name`, `description`, `city_id`, `address`, `type_id`, `price_segment_id`, `cooking_tag_id`, `working_hours.days_of_week`, `working_hours.begin`, `working_hours.end`, `search_query`, `search_rank`.\n\nПоле `search_rank` доступно для фильтрации и сортировки, если указан фильтр `search_query`. `search_query` ранжирует по названию ресторана и по названиям прикреплённых кулинарных тегов.",
                "tags": [
                    "Restaurants"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create",
                "description": "Создание новой записи в системе. Управление информацией о ресторанах",
                "tags": [
                    "Restaurants"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RestaurantCreateRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/{id}": {
            "get": {
                "summary": "get",
                "description": "Получение детальной информации о конкретной записи по её идентификатору. Управление информацией о ресторанах",
                "tags": [
                    "Restaurants"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "update",
                "description": "Обновление существующей записи. Управление информацией о ресторанах",
                "tags": [
                    "Restaurants"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RestaurantRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "Удаление записи из системы. Управление информацией о ресторанах",
                "tags": [
                    "Restaurants"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/{id}/images": {
            "post": {
                "summary": "add image to restaurant",
                "description": "Добавление изображения к ресторану",
                "tags": [
                    "Restaurant Images"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantImageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "data": {
                                        "$ref": "#/components/schemas/RestaurantImageRequest"
                                    }
                                },
                                "required": [
                                    "file"
                                ]
                            },
                            "encoding": {
                                "data": {
                                    "contentType": "application/json"
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RestaurantImageWithContentRequest"
                            }
                        },
                        "application/octet-stream": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "get": {
                "summary": "list images of a restaurant",
                "description": "Получение списка изображений ресторана",
                "tags": [
                    "Restaurant Images"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantImageListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/{id}/menus": {
            "get": {
                "summary": "list menus in restaurant",
                "description": "Получение списка меню ресторана",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MenuListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create menu in a restaurant",
                "description": "Добавление меню в ресторан",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MenuResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MenuCreateRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/images": {
            "get": {
                "summary": "list",
                "description": "Получение списка записей с поддержкой пагинации, фильтрации и сортировки",
                "tags": [
                    "Restaurant Images"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantImageListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create",
                "description": "Создание новой записи в системе",
                "tags": [
                    "Restaurant Images"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantImageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "data": {
                                        "$ref": "#/components/schemas/RestaurantImageWithRestaurantIDRequest"
                                    }
                                },
                                "required": [
                                    "file",
                                    "data"
                                ]
                            },
                            "encoding": {
                                "data": {
                                    "contentType": "application/json"
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RestaurantImageWithRestaurantIDAndContentRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/images/{id}": {
            "get": {
                "summary": "get",
                "description": "Получение детальной информации о конкретной записи по её идентификатору",
                "tags": [
                    "Restaurant Images"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantImageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "update",
                "description": "Обновление существующей записи",
                "tags": [
                    "Restaurant Images"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantImageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RestaurantImageRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "Удаление записи из системы",
                "tags": [
                    "Restaurant Images"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantImageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/images/{id}/file": {
            "get": {
                "summary": "get restaurant image file",
                "description": "Получение файла изображения",
                "tags": [
                    "Restaurant Images"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "image/*": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/menus/types": {
            "get": {
                "summary": "list",
                "description": "Получение списка записей с поддержкой пагинации, фильтрации и сортировки",
                "tags": [
                    "Menu Types"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create",
                "description": "Создание новой записи в системе",
                "tags": [
                    "Menu Types"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/menus/types/{id}": {
            "get": {
                "summary": "get",
                "description": "Получение детальной информации о конкретной записи по её идентификатору",
                "tags": [
                    "Menu Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "update",
                "description": "Обновление существующей записи",
                "tags": [
                    "Menu Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "Удаление записи из системы",
                "tags": [
                    "Menu Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityWithNameResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/menus": {
            "get": {
                "summary": "list",
                "description": "Получение списка записей с поддержкой пагинации, фильтрации и сортировки",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MenuListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create",
                "description": "Создание новой записи в системе",
                "tags": [
                    "Menus"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MenuResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MenuCreateRequestWithRestaurantID"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/menus/{id}": {
            "get": {
                "summary": "get",
                "description": "Получение детальной информации о конкретной записи по её идентификатору",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MenuResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "update",
                "description": "Обновление существующей записи",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MenuResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MenuRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "Удаление записи из системы",
                "tags": [
                    "Menus"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MenuResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/menus/{id}/categories": {
            "get": {
                "summary": "list categories in menu",
                "description": "Получение списка категорий в конкретном меню",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create category",
                "description": "Добавление категории в меню",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/menus/{id}/dishes": {
            "get": {
                "summary": "list dishes in menu",
                "description": "Получение списка блюд в меню.\n\nФильтры: `id`, `created_at`, `updated_at`, `name`, `type_id`, `price`, `calories`, `proteins`, `fats`, `carbohydrates`, `ingredient_id`, `category_id`, `city_id`, `search_query`, `search_rank`.\n\nПоле `search_rank` доступно для фильтрации и сортировки, если указан фильтр `search_query`. `search_query` ранжирует по названию блюда и по названиям прикреплённых кулинарных тегов.",
                "tags": [
                    "Dishes"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DishListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create dish",
                "description": "Добавление блюда в меню",
                "tags": [
                    "Dishes"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DishResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DishCreateRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/menus/categories": {
            "get": {
                "summary": "list",
                "description": "Получение списка записей с поддержкой пагинации, фильтрации и сортировки. Управление категориями блюд",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageSizeParam"
                    },
                    {
                        "$ref": "#/components/parameters/OrderParam"
                    },
                    {
                        "$ref": "#/components/parameters/FiltersParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "create",
                "description": "Создание новой записи в системе. Управление категориями блюд",
                "tags": [
                    "Categories"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryCreateRequestWithMenuID"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/restaurants/menus/categories/{id}": {
            "get": {
                "summary": "get",
                "description": "Получение детальной информации о конкретной записи по её идентификатору. Управление категориями блюд",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "update",
                "description": "Обновление существующей записи. Управление категориями блюд",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityWithName"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "Удаление записи из системы. Управление категориями блюд",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Идентификатор id",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Операция выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthozrizedResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/ErrorResponse"
                    }
                },
                "security": [
                    {
                        "AdminBearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/ingredients": {
            "get": {
                "summary": "list",
                "description": "Получение списка записей с поддержкой пагинации, фильтрации и сортировки",
                "tags": [
                    "Ingredients"
                ],
                "parameters": [
                    {
[...]
